/* body{
    font-family: 'Comfortaa', Arial !important;  
} */
.dark-mode{
    background-color: #111;
}
.dark-mode h1,.dark-mode h2,.dark-mode h3,.dark-mode h4,.dark-mode p,.dark-mode i{
    color:#a27575 !important
}
.dark-mode .navbar{
    background-color: #111 !important;
}
.dark-mode .navbar-light .navbar-nav .nav-link{
    color: #fff;
}
.dark-mode .first_nav{
    background-color: #1d1e21 !important;
}
.dark-mode header{
    background-image: radial-gradient(#0C75C0, #19232b) !important;
    /* background-image: radial-gradient(#001c31, #091f31) !important; */
}
.first_nav{
    background-color: #ffffff10 !important;
    backdrop-filter:blur(12px);
    width: 80%;
    margin: auto;
    top:40px;
    border-radius: 0 20px;
    color: #fff !important;
    padding: 10px;   
    box-shadow: .5px .5px 10px .5px #bebebe;
    position: fixed;
    z-index: 800;
    transition: all .5s ease-in-out;
}
.navbar .navbar-brand img{
    width: 100px;
}
.nav_bar .navbar .logo_title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Geneva, Tahoma, sans-serif !important;
    font-weight: 700;
}
.navbar .navbar-nav {
    padding-right:10px !important;
}
.navbar .navbar-nav li{
    margin-left: 5px;
    margin-right: 5px;
  }
.navbar .navbar-nav li a{
    color: #fff !important;
    display: inline-block;
    padding-left:20px !important;
    padding-right:20px !important;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 1px;
    cursor: pointer;
    font-family: 'Comfortaa', Arial !important;
    transition: color .5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar .navbar-nav li a:hover{
    color: #fff;
}
.navbar .navbar-nav li a {
    position: relative;
    width: 100%;
  
  }
  
  .navbar .navbar-nav > li > .active::before {
    position: absolute;
    content: "";
    top: 100%;
    height: 3px;
    width: 100%;
    background-color: #fff;
  }
  .navbar .navbar-nav > li > a::before {
    position: absolute;
    content: "";
    top: 100%;
    height: 3px;
    width: 0;
    background-color: #fff;
  }
  .navbar .navbar-nav > li > a:hover::before {
    animation: moveX 0.5s linear forwards;
  }
  @keyframes moveX {
    0% {
      width: 0;
    }
    100% {
      width:100%;
    }
  }
/* second navbar */
.second_navbar{
  backdrop-filter:blur(12px);
  background-color: rgb(12 99 161 / 80%) !important;
  top: 15px !important;
  box-shadow: 0.5px 0.5px 15px 8px #032f4e !important;
  width: 80%;
  margin: auto;
  border-radius: 0 20px;
  color: #fff !important;
  padding: 10px;   
  position: fixed;
  z-index: 99999;
  transition: all .5s ease-in-out;

}

/* end second .navbar */
.nav_bar{
  display: flex;
  justify-content: center;
}


/* *********start footer  ************* */
header{
    height: auto;
    background-image: radial-gradient(#0C75C0, #032F4E);
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    position: relative;
    top:0;
    padding-top: 100px !important;
    padding-bottom: 30px !important;
}
@media(max-width:850px){
    header{
      border-bottom-left-radius: 65px;
      border-bottom-right-radius: 65px;
    }
}
header .head .right img{
    width:100%;
    display: block;
    margin: auto;
    margin-top: 50px;
    padding-bottom: 50px;
}
header .head .left
{
text-align: center;
padding-top: 130px;
}
@media(max-width:777px){
    header .head .left{
        padding-top: 50px;
    }
    header .head .right img{
        padding-top: 60px;
        padding-bottom: 10px;
    }
}
header .head .left h3{
    font-size: 25px;
    font-weight: 800;
    color: #fff;
    padding: 20px 0;
    text-transform: capitalize;
    font-family: 'Comfortaa', Arial !important;
}
header .head .left p{
    font-size: 18px;
    font-weight: 500;
    color: #ccc;
}
header .head .left button{
    background: linear-gradient(-45deg, #3f00b5, #9f69fe, #27c8b7, #3f00b5);
    background-size: 800% 400%;
    padding: 1em 2em;
    display: inline-block;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 700;
    color: white;
    transition: all .5s ease-in-out;
    animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
    cursor: pointer !important;
    margin-top: 20px;
    margin-bottom: 50px;
}


@media(max-width:570px){
    .navbar .navbar-brand img{
        width: 50px !important;
    }
    .navbar h2{
        font-size: 1.5rem !important;
    }
}

@media(max-width:451px){
    .navbar .navbar-brand img{
        width:50px!important;
    }
    .navbar h2{
        font-size: 1.1rem !important;

    }
}

header .head .left button:hover {
    animation: gradient 3s infinite;
    transform: scale(1.05);
    cursor: pointer !important;
   }
   
   header .head .left button:active {
    animation: gradient 3s infinite;
    transform: scale(0.8);
    cursor: pointer !important;
   }
   
   @keyframes gradient {
    0% {
     background-position: 0% 50%;
    }
   
    50% {
     background-position: 100% 50%;
    }
   
    100% {
     background-position: 0% 50%;
    }
   }

   @media(max-width:767px){
    header .head .right img{
        padding-top: unset;
        margin-top: unset;
    }
}

.modal .modal-header .modal-title{
    font-size: 1.5rem;
    font-weight: bold;
    color: #ccc;
}

.main_modal .card{
    transition: all .5s ease-in-out;
    cursor: pointer;
    border-radius: 15px !important;
    filter: grayscale(30);
}

.main_modal .card img{
    opacity: 0.8;
    height: 50%;
}

.main_modal .card .card-body .card-title{
    font-size: 1.5rem;
    font-weight: bold;
}

.main_modal .card .card-body .card-text{
    font-size: 17px;
    font-weight: 400;
    color: #a27575;
}

.main_modal .card .card-body button{
    border-radius: 10px !important;
    margin-left: 5rem;
}

.card .card-body button:hover{
    background: linear-gradient(-45deg, #3f00b5, #9f69fe, #27c8b7, #3f00b5) !important;
    background-size: 800% 400% !important;
    /* padding: 1em 2em; */
    border-radius: 10px !important;
}

.main_modal .card:hover{
    cursor: pointer;
    border-radius: 15px !important;
    filter: grayscale(0);
    transform: scale(1.1,1.1);
    margin-top: 0.5rem;
    transition: all .5s ease-in-out;
}

.main_modal .card:hover .card-body .card-title{
    color: #0C75C0;
}

.dub_modal .modal .modal-body .card{
   height: 30vh;
   border-radius: 12px !important;
   padding-top: 0.25rem;
   padding-left: 0.25rem;
   background-color: #eee;
}

.dub_modal .modal .modal-body .card .blank_img{
    width: 300px;
    height: 28vh;
    background: gray;
    border-radius: 8px;
    overflow: hidden;
}

.dub_modal .modal .modal-body .card span{
    color: #ccc !important;
}

.dub_modal .modal .modal-body .card .card-body .input1,
.dub_modal .modal .modal-body .card .card-body .input2{
   width: 74%;
   margin-left: -1rem;
   height: 40px;
   padding: 15px;
   border: none;
   border-radius: 12px;
}

.dub_modal .modal .modal-body .card .card-body .save_btn{
   width: 25%;
   text-align: center;
   margin-top: -0.5rem;
   /* margin-left: 0rem; */
   border: none;
   border-radius: 12px;
}

.dub_modal .modal .modal-body .card .card-body input::placeholder{
  font-size: 20px;
  color: #032f4e;
}

.card .card-body .no_hover button:hover{
    border-radius: unset !important;
}
@media(max-width:991px){
    .main_modal .modal-dialog{
        max-width: 700px !important;
    }
}

@media(max-width:767px){
    .main_modal .modal-dialog{
        max-width: 450px !important;
    }
    .main_modal .modal-content{
        height: 130vh !important;
    }
    .main_modal .modal-body{
        margin-left: 3rem;
    }
    .main_modal .modal-body .card{
        height: 100%;
    }
    .main_modal .modal-body .card2{
        margin-top: 1.2rem;
    }
    .main_modal .modal-body .card2:hover{
        margin-top: -0.5rem;
    }
    .main_modal .modal-body .card:hover{
        height: 100%;
    }
    .main_modal .modal-body .card button{
        margin-bottom: 3rem;
    }
}

@media(max-width:450px){
    .main_modal .modal-body{
        margin-left: 2rem;
    }
}

@media(max-width:420px){
    .main_modal .modal-body{
        margin-left: 0.8rem;
    }
}

@media(max-width:375px){
    .main_modal .modal-body{
        margin-left: 0.2rem;
    }
}

@media(max-width:991px){
    .dub_modal .modal-dialog{
        max-width: 750px !important;
    }
    .dub_modal .modal .modal-body .card .blank_img{
        width: 310px;
        height: 28vh;
    }
    .dub_modal .modal .modal-body .card .input1,
    .dub_modal .modal .modal-body .card .card-body .input2{
        width: 70% !important;
        margin-left: 0.2rem !important;
    }
    .dub_modal .modal .modal-body .card .save_btn{
        /* font-size: ; */
        width: 25% !important;
    }
}

@media(max-width:767px){
    .dub_modal .modal-dialog{
        max-width: 400px !important;
    }
    .dub_modal .modal .modal-body .card .blank_img{
        width: 355px;
        height: 28vh;
    }
    .dub_modal .modal .modal-body .card .input1,
    .dub_modal .modal .modal-body .card .card-body .input2{
        margin-left: 0.5rem;
        width: 95% !important;
    }
    .dub_modal .modal .modal-body .card .save_btn{
        /* font-size: ; */
        width: 30% !important;
        margin-top: 1.2rem !important;
        margin-left: 6.5rem;
    }
    .dub_modal .modal .modal-body .card{
        height: 48vh;
    }
}

@media(max-width:410px){
    .dub_modal .modal .modal-body .card .blank_img{
        width: 98%;
        height: 28vh;
    }
    .dub_modal .modal .modal-body .card .input1,
    .dub_modal .modal .modal-body .card .card-body .input2{
        width: 98% !important;
        
    }

    .dub_modal .modal .modal-body .card .save_btn{
        /* font-size: ; */
        width: 45% !important;
        margin-top: 1.2rem !important;
        margin-left: 4.5rem;
    }
    
    .dub_modal .modal .modal-body .card{
        height: 49vh;
    }
}